.review-box{
    display: flex;
     justify-content: space-between;
    align-items: center; 
    margin: 20px;
    border: 1px solid grey;
    padding: 10px;
    
}

.avatar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 20%; */
}

.avatar-container p{
    font-size:0.75rem;
    margin-top:5px;
   
 }

 .read-content{
    font-size: 0.75rem;
    cursor: pointer;
    color: grey;
    
 }

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.review-text{
    width: 80%;
}

.more-reviews{
    cursor: pointer;
    color: red;
}