.header-container{
    height:var(--header-height);
    background-color: var(--transparent-bg);
    color: var(--white);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-light{
    background-color: var(--white);
}

.logo{
    color: var(--red);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.search-input{
    width: 40%;
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--black);
    color: var(--grey-text);
}

.create-account-btn{
    background-color: var(--red);
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    color: var(--white);
    margin-left: 10px;
}

.header-buttons-container{
    display: flex;
    align-items: center;
}

.theme-icon{
    font-size: 36px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}

.theme-icon-active{
    background-color: var(--red);
    padding: 0;
}

.theme-buttons{
    background-color: var(--black);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px var(--grey);
}

.fav-div{
    background-color: black;
}

.logout{
    color: red;
    cursor: pointer;
}

.profile-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}